.icoTrack {
    width: auto;
    height: 120px;
    padding: 1px 5px 1px 10px;
}

.icoSize {
    width: auto;
    height: 20px;
    padding: 1px 5px 1px 10px;
}

.icoTrash {
    width: auto;
    height: 30px;
    padding: 1px 5px 1px 10px;
}